## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/libexec/repository-dist/repository-dist-wizard
Name=Repository
GenericName=Derivative Repository
Comment=Derivative Repository
Categories=System
Icon=/usr/share/icons/icon-pack-dist/whonixlock.png
## Because we need a wrapper to start it.
X-KDE-StartupNotify=false
Keywords=system;derivative;repository;apt-get
