## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/lib/whonix-setup-wizard/whonix-setup-wizard-repository
Name=Whonix Repository
GenericName=Whonix Repository
Comment=Whonix Repository
Categories=System
Icon=/usr/share/icons/anon-icon-pack/whonixlock.png
## Because we need a wrapper to start it.
X-KDE-StartupNotify=false
Keywords=system;Whonix;repository;apt-get
