## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: repository-dist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), python3, dh-python
Homepage: https://www.whonix.org/wiki/Project-APT-Repository
Vcs-Browser: https://github.com/Whonix/repository-dist
Vcs-Git: https://github.com/Whonix/repository-dist.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: repository-dist
Architecture: all
Depends: gnupg, lsb-release, ${python3:Depends}, ${misc:Depends}
Provides: whonix-repository
Replaces: whonix-repository
Conflicts: whonix-repository
Description: Derivative APT Repository Command Line Interface (CLI)
 This tool can always be used to enable either Derivative's stable, testers or
 developers repository or to disable Derivative's repository.
 .
 Derivative's APT Repository is not enabled by default. Some users prefer this
 for trust/security reasons.
 .
 On first boot of Derivative, the Derivative Repository Tool gets automatically
 started by setup-dist. The user is free to either leave Derivative's
 repository disabled or to configure it as desired.
 .
 Technically speaking, this tool creates or deletes
 /etc/sources.list.d/derivative.list and copies or deletes Derivative's signing
 key to/from /etc/apt/trusted.gpg.d folder.

Package: repository-dist-wizard
Architecture: all
Depends: python3, python3-pyqt5, lxqt-sudo, ${misc:Depends}
Description: Derivative APT Repository Graphical User Interface (GUI)
 This tool can always be used to enable either Derivative's stable, testers or
 developers repository or to disable Derivative's repository.
 .
 This is a metapackage depending on the required packages for the GUI
 (Graphical User Interface).
